<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>yourweather</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.png') }}" />
    <style>body { background: url("{{ url_for('static', filename='img/background.jpg') }}"); }</style>
</head>
<body>
    <div class="wrapper">
        <header class="navbar">
            <h1 id="logo">yourweather</h1>
        </header>
        <div class="content">
            <div class="city_list blur">
                <h2>Топ-5 городов по запросам:</h2>
                <ol>
                    {% for city in top_cities %}
                        <li>{{ city.name }} | {{ city.requests }}</li>
                    {% endfor %}
                </ol>
            </div>

            <div class="find_weather blur">
                <div class="search_row">
                    <form method="POST" action="/" class="search_container">
                        <input
                            placeholder="твой город..."
                            type="text"
                            autocomplete="off"
                            name="city"
                            id="city"
                            class="search_input">
                        <button type="submit" class="search_button"></button>
                    </form>

                    <div class="city_container">
                        <svg class="city_icon" style="width: 22px;" viewBox="0 0 22 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="m6.33 9.67-3.57-.94a1 1 0 0 1-.15-1.89l9.71-4.29a.85.85 0 0 1 1.12 1.12L9.15 13.4a1 1 0 0 1-1.88-.15l-.94-3.57Z"></path>
                        </svg>
                        <span>{{ city }}</span>
                    </div>
                </div>
                <div class="weather_widget">
                    <h2 class="weather_date">Сегодня, {{ date }}</h2>
                    <table class="weather_table">
                        <thead>
                            <tr>
                                <th>Температура</th>
                                <th>Ощущается</th>
                                <th>Ветер</th>
                                <th>Влажность</th>
                                <th>Статус</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ weather.current.temp }}</td>
                                <td>{{ weather.current.feels_like }}</td>
                                <td>{{ weather.current.wind }}</td>
                                <td>{{ weather.current.humidity }}</td>
                                <td>{{ weather.current.status }}</td>
                                <td><img src="{{ weather.current.icon }}" alt="icon"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>